{% load socialaccount %}
{% load static %}
<style>
<!--  .navbar-dark .navbar-nav .nav-link {-->
<!--    background-color: #FFC107; /* 원하는 배경색으로 변경 */-->
<!--    border-radius: 5px; /* 원하는 모양의 네모난 박스로 변경 */-->
<!--  }-->




  .navbar-dark .navbar-nav .nav-link.logout {
    background-color: #FFC107; /* 원하는 배경색으로 변경 */
    font-weight: bold; /* 글씨체를 bold체로 설정 */
    color: black; /* 글씨 색상을 검정색으로 설정 */

  }
.navbar-nav {

  padding: 8px 12px;
}

.navbar-nav li:hover{
  background-color: grey;
  border-radius: 4px;

}

@media screen and (max-width: 768px) {
    .navbar-nav {
      display: flex;
      padding: 8px 12px;
      text-align: center;
    }

    .navbar-nav li:hover{
      background-color: grey;
      border-radius: 4px;
      width: 100%;

    }
}

</style>


<script src="https://kit.fontawesome.com/ccb1843f6b.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:home' %}">
            <img src="{% static 'question_images/pyconverter_logo.png' %}" alt="PyConverter 로고" style="width: 30px;">
            PyConverter
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'common:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link logout">{{ user.username }} (Log out)</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% provider_login_url 'google' %}?next={{ request.path }}">Google Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% provider_login_url 'naver' %}?next={{ request.path }}">Naver Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>