<!--<nav id="sidebar" class="border-top border-secondary">-->
<!--    <div class="list-group">-->
<!--&lt;!&ndash;        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active " href="/pyxel/">K-POP STAR</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/boarda/">Animal face</a>&ndash;&gt;-->
<!--        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/boardb/">Pressure Converter</a>-->
<!--&lt;!&ndash;        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/humor/">humor</a>&ndash;&gt;-->
<!--        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/qna/">Q&A</a>-->
<!--        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/pdf/">PDF</a>-->
<!--&lt;!&ndash;        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/facehair/">face hair</a>&ndash;&gt;-->
<!--    </div>-->
<!--</nav>-->

<nav id="sidebar" class="border-top border-secondary">
    <div class="list-group">
        <div class="rounded-0 list-group-item list-group-item-light" style="padding: 10px;">
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <a class="list-group-item-action list-group-item-light" href="/update/" style="font-size: 0.875em; display: block; text-decoration: none;">ㅇUpdate</a>
            </div>
            <span style="font-size: 0.875em;">ㅇConverter</span>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <a class="list-group-item-action list-group-item-light" href="/main/" style="font-size: 0.875em; display: block; margin-bottom: 5px; text-decoration: none;">- PyConverter </a>
                <a class="list-group-item-action list-group-item-light" href="/boardb/" style="font-size: 0.875em; display: block; margin-bottom: 5px; text-decoration: none;">- Pressure Converter</a>
                <a class="list-group-item-action list-group-item-light" href="/pdf/" style="font-size: 0.875em; display: block; text-decoration: none;">- PDF Converter</a>
            </div>

            <span style="font-size: 0.875em;">ㅇNintendo</span>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <a class="list-group-item-action list-group-item-light" href="/pikmin/" style="font-size: 0.875em; display: block; margin-bottom: 5px; text-decoration: none;">- Pikmin </a>
                <a class="list-group-item-action list-group-item-light" href="/poketmoncard/" style="font-size: 0.875em; display: block; margin-bottom: 5px; text-decoration: none;">- Poketmoncard</a>
            </div>


            <div style="margin-top: 10px; margin-bottom: 10px;">
                <a class="list-group-item-action list-group-item-light" href="/boarda/" style="font-size: 0.875em; display: block; text-decoration: none;">ㅇAnimal Face</a>
            </div>

            <div style="margin-top: 10px; margin-bottom: 10px;">
                <a class="list-group-item-action list-group-item-light" href="/qna/" style="font-size: 0.875em; display: block; text-decoration: none;">ㅇQ&A</a>
            </div>

        </div>
    </div>
</nav>
