    <nav id="sidebar" class="border-top border-secondary">
    <div class="list-group">
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active " href="/pyxel/">K-POP STAR</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/boarda/">Animal face</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/boardb/">Pressure Converter</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/humor/">humor</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="/qna/">Q&A</a>
    </div>
</nav>

